<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Markdown Viewer</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <!-- <link href="style.css" rel="stylesheet" /> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
  </head>

  <body class="container-fluid">
    <section class="row header">
      <div class="col-md-12">

      </div>
    </section>
    <section class="row">
      <textarea class="col-md-6 full-height" id="pad">Write your text here..</textarea>
      <div class="col-md-6 full-height" id="markdown"></div>
    </section>
    <section class="row footer">
      <div class="col-md-12">

      </div>
    </section>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/textarea.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
